.Detail-head {
  margin: 1rem auto;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  border-radius: 10px;
}

.edit {
  padding: 0.5rem;
  background: blue;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background: red;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.client-body {
  width: 95%;
  margin: auto;
}
